src/main/resources/data/item/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.swordsandsorcery.com/item"
           xmlns="http://www.swordsandsorcery.com/item" elementFormDefault="qualified">
    <xs:element name="item">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:unsignedInt" minOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1"/>
                <xs:element name="type" minOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
                            <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
                            <xs:enumeration value="TWO_HANDED_AXES"/>
                            <xs:enumeration value="ONE_HANDED_AXES"/>
                            <xs:enumeration value="THROWING_WEAPONS"/>
                            <xs:enumeration value="LONGSWORDS"/>
                            <xs:enumeration value="SHORTSWORDS"/>
                            <xs:enumeration value="POLEARMS"/>
                            <xs:enumeration value="DAGGERS"/>
                            <xs:enumeration value="LONGBOWS"/>
                            <xs:enumeration value="SHORTBOWS"/>
                            <xs:enumeration value="CROSSBOWS"/>
                            <xs:enumeration value="LIGHT_ARMOR"/>
                            <xs:enumeration value="HEAVY_ARMOR"/>
                            <xs:enumeration value="ROBE_ARMOR"/>
                            <xs:enumeration value="SHIELD"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="weight" type="xs:unsignedInt"/>
                <xs:element name="combat-modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modifier" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ATTACK"/>
                                                    <xs:enumeration value="DEFENSE"/>
                                                    <xs:enumeration value="INITIATION"/>
                                                    <xs:enumeration value="LIFE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="general-modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modifier" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="STRENGTH"/>
                                                    <xs:enumeration value="PERCEPTION"/>
                                                    <xs:enumeration value="DEXTERITY"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="skill-modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modifier" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_AXES"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="basic-modifiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="modifier" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="MOVEMENT"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="combat-requirements" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="requirement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ATTACK"/>
                                                    <xs:enumeration value="DEFENSE"/>
                                                    <xs:enumeration value="INITIATION"/>
                                                    <xs:enumeration value="LIFE"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="basic-requirements" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="requirement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="MOVEMENT"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="skill-requirements" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="requirement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="TWO_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_CRUSHING_WEAPONS"/>
                                                    <xs:enumeration value="ONE_HANDED_AXES"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="general-requirements" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="requirement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="STRENGTH"/>
                                                    <xs:enumeration value="PERCEPTION"/>
                                                    <xs:enumeration value="DEXTERITY"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>